-# ＜チャット画面＞
.main_chat
  .main_chat__groupinfo
    .main_chat__groupinfo__topitem
      .main_chat__groupinfo__topitem__group
        =@group.name
      .main_chat__groupinfo__topitem__member
        Member:
        - @group.users.each do |member|
          =member.name
    .main_chat__groupinfo__edit
      = link_to edit_group_path(@group) do
        Edit
  .main_chat__messages
    = render @messages
  .main_chat__form
    = form_for [@group, @message] do |f|
      -# %input{type: "text",class: "main_chat__form__text",placeholder: "type a message"}
      = f.text_field :content, class: "main_chat__form__text", placeholder: "type a message"
      %label{class: "main_chat__form__icon"}
        = icon('fas', 'image')
        -# %input{class:"hide",type: "file"}
        = f.file_field :image, class:"hide"
      = f.submit 'Send', class: 'main_chat__form__send'